<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Standard out console appender -->
    <appender name="Stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{MM/dd/yy HH:mm:ss:S}](%t) %-5p - %-26.26c{1} - %m%n"/>
        </layout>
    </appender>

    <!-- Main file appender -->
    <appender name="StdoutFile" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${logdir}/stdout.log"/>
        <param name="append" value="true"/>
        <param name="maxFileSize" value="20MB"/>
        <param name="encoding" value="UTF-8"/>
        <param name="maxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{MM/dd/yy HH:mm:ss:S}](%t) %-5p - %-26.26c{1} - %m%n"/>
        </layout>
    </appender>

    <!-- Error log -->
    <appender name="ErrorsFile" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${logdir}/errors.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="20MB"/>
        <param name="maxBackupIndex" value="20"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{MM/dd/yy HH:mm:ss:S}](%t) %-5p - %-26.26c{1} - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
        </filter>
    </appender>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="Stdout"/>
        <appender-ref ref="ErrorsFile"/>
    </root>
</log4j:configuration>
